header {
  width: 90%;
  padding: 0px 5% 0px 5%;
  height: 100px;
  background-color: rgba(217, 217, 217, 0.25);
  border-radius: 90px;
  outline: solid #062d6162;

  color: white;

  h1 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

body {
  min-height: 1000px;
  background-image: radial-gradient(circle, #1f0936 0%, #000000 100%);
}

* {
  margin: 0px;
  font-family: Jersey10-Regular;
  font-weight: 400;
  font-style: normal;
}

.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

@font-face {
  font-family: "Jersey10-Regular";
  src: url(fonts/Jersey10-Regular.ttf);
}

nav ul li{
  list-style-type: none;
  text-decoration: none;
  a{
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 15px;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    transition-duration: 0.1s;

    &:hover{
      color: #062d61;
    }
  }
}
