header {
  width: 90%;
  padding: 0 5%;
  height: 100px;
  background-color: rgba(217, 217, 217, 0.25);
  outline: solid #062d6162;
  color: white;
  position: fixed;
  z-index: 1000;
}

header h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}

header h1 a {
  text-decoration: none;
  color: white;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  font-size: 30px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition-duration: 0.1s;
}

nav ul li a:hover {
  color: rgb(160, 160, 160);
}

nav ul li a:active {
  color: grey;
}

* {
  margin: 0;
  font-family: "Jersey10-Regular";
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  min-height: 1000px;
  background-image: radial-gradient(circle, #1f0936 0%, #000000 100%);
}

/* Layout utilities */
.justify-center { justify-content: center; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }
.align-center { align-items: center; }
.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }

@font-face {
  font-family: "Jersey10-Regular";
  src: url("fonts/Jersey10-Regular.ttf");
}

footer {
  font-size: larger;
}

footer div {
  background-color: #CCCCCC;
  outline: 2px solid #000000;
  width: 30%;
  height: 160px;
  padding: 15px 5% 15px 5%;
}

.infopurple {
  color: #3F3477;
}

footer div h1 {
  color: #D7EBE7;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Combined main rules */
main {
  gap: 500px;
  min-height: 1000px;
}

.button {
  margin-top: 40px;
  width: 150px;
  height: 25px;
  border-radius: 6px;
  outline: solid #999999;
  background-color: #D9D9D9;
  color: #000000;
  -webkit-text-stroke: 1px #3F3477;
  font-size: larger;
  text-decoration: none;
}

.button:hover {
  background-color: #BFBFBF;
  cursor: pointer;
  transform: scale(1.02);
}

.button:active {
  background-color: #A6A6A6;
  transform: scale(0.98);
}

.mainbox {
  margin-top: 200px;
  padding: 100px 40px;
  height: 600px;
  width: auto;
  background-color: #D9D9D9;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
}

.mainbox h1 {
  font-size: 100px;
  border: 3px solid rgba(255, 255, 255, 0.08);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000000;
  font-weight: 400;
  text-transform: capitalize;
}

.backgroundimage {
  position: absolute;
  opacity: 0.2;
  width: 1500px;
  height: 650px;
  border-radius: 70px;
  outline: solid #151515 20px;
}

.about-text {
  font-size: 50px;
  align-self: flex-start;
}

.aboutbackgroundbox {
  padding: 100px 40px;
  height: 1400px;
  width: 90%;
  background-color: #d9d9d946;
  border-radius: 70px;
  outline: solid #99999945;
  gap: 20px;
  align-self: center;
  color: white;
  -webkit-text-stroke: 2px #000000;
  font-size: xx-large;
}

.aboutbox {
  padding: 100px 40px;
  height: 700px;
  width: 90%;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
  align-self: center;
  background-color: white;
  color: black;
  -webkit-text-stroke: 0px;
}

.aboutbackgroundbox img {
  outline: black solid 2px;
  border-radius: 70px;
  transition-duration: 0.1s;
}

.aboutbackgroundbox img:hover {
  transform: scale(1.1);
}

.about-certificates {
  outline: solid #999999;
  background-color: white;
  width: 105%;
  height: 300px;
}

.about-certificates div {
  width: 100%;
  height: 100%;
}

.educationbackgroundbox {
  padding: 100px 40px;
  height: 550px;
  width: 90%;
  background-color: #d9d9d946;
  border-radius: 70px;
  outline: solid #99999945;
  gap: 20px;
  align-self: center;
  color: white;
  -webkit-text-stroke: 2px #000000;
  font-size: xx-large;
}

.educationbox {
  padding: 100px 40px;
  height: fit-content;
  width: 90%;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
  align-self: center;
  background-color: white;
  color: black;
  -webkit-text-stroke: 0px;
}

.educationbox img {
  width: 90%;
}

.projectsbackgroundbox {
  padding: 100px 40px;
  height: 1200px;
  width: 90%;
  background-color: #d9d9d946;
  border-radius: 70px;
  outline: solid #99999945;
  gap: 20px;
  align-self: center;
  color: white;
  -webkit-text-stroke: 2px #000000;
  font-size: xx-large;
  margin-bottom: 100px;
}

.projectsbox {
  padding: 100px 40px;
  height: fit-content;
  width: 90%;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
  align-self: center;
  background-color: white;
  color: black;
  -webkit-text-stroke: 0px;
}

.projectsbox img {
  width: 100%;
  transition-duration: 0.1s;
}

.projectsbox div div:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}

.contactform {
  margin-top: 200px;
  width: 50%;
  border-radius: 45px;
  margin: auto;
  height: 800px;
  background-color: #D9D9D9;
  gap: 40px;
}

.contactform form {
  gap: 60px;
}

.contactform h1 {
  font-size: 100px;
}

.contactform p {
  font-size: xx-large;
}

.contactform input,
.contactform textarea,
.contactform button {
  outline: solid #000000 0.5px;
  width: 600px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  transition-duration: 0.1s;
}

.contactform button:hover {
  transform: scale(1.1);
}

.contactform button:active {
  transform: scale(1);
}

.contactform textarea {
  max-width: 600px;
  min-width: 600px;
  max-height: 240px;
  min-height: 60px;
}

/* Responsive Design - Tablet */
@media screen and (max-width: 1024px) {
  header h1 {
    font-size: 40px;
  }

  nav ul li a {
    font-size: 24px;
    margin: 0 10px;
  }

  .mainbox {
    margin-top: 150px;
    padding: 60px 30px;
    height: auto;
    width: 85%;
  }

  .mainbox h1 {
    font-size: 70px;
  }

  .mainbox h2 {
    font-size: 40px;
  }

  .backgroundimage {
    width: 100%;
    height: 100%;
  }

  .aboutbackgroundbox,
  .educationbackgroundbox,
  .projectsbackgroundbox {
    width: 85%;
    padding: 60px 30px;
  }

  .aboutbackgroundbox {
    height: auto;
  }

  .about-text {
    font-size: 35px;
  }

  .aboutbox {
    padding: 60px 30px;
    width: 85%;
    height: auto;
  }

  .educationbackgroundbox {
    height: auto;
  }

  .projectsbackgroundbox {
    height: auto;
  }

  .projectsbox {
    padding: 60px 30px;
  }

  .projectsbox .flex-row {
    flex-wrap: wrap;
    gap: 20px;
  }

  .projectsbox .flex-row > div {
    flex: 0 0 calc(25% - 15px);
  }

  footer {
    flex-wrap: wrap;
  }

  footer div {
    width: 45%;
    margin: 10px 0;
  }

  .contactform {
    width: 70%;
    height: auto;
    padding: 40px 20px;
  }

  .contactform h1 {
    font-size: 70px;
  }

  .contactform input,
  .contactform textarea,
  .contactform button {
    width: 90%;
    max-width: 500px;
  }
}

/* Responsive Design - Mobile */
@media screen and (max-width: 768px) {
  header {
    height: 80px;
    flex-direction: column;
    padding: 10px 5%;
    justify-content: center;
  }

  header h1 {
    font-size: 32px;
    margin-bottom: 5px;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  nav ul li a {
    font-size: 18px;
    margin: 0 8px;
  }

  main {
    gap: 300px;
  }

  .mainbox {
    margin-top: 120px;
    padding: 40px 20px;
    width: 90%;
    border-radius: 40px;
  }

  .mainbox h1 {
    font-size: 40px;
  }

  .mainbox h2 {
    font-size: 24px;
  }

  .backgroundimage {
    border-radius: 40px;
  }

  .aboutbackgroundbox,
  .educationbackgroundbox,
  .projectsbackgroundbox {
    width: 90%;
    padding: 40px 20px;
    border-radius: 40px;
  }

  .about-text {
    font-size: 24px;
  }

  .aboutbox {
    padding: 40px 20px;
    width: 90%;
    border-radius: 40px;
  }

  .aboutbackgroundbox img {
    width: 200px;
    border-radius: 40px;
  }

  .educationbox {
    padding: 40px 20px;
    width: 90%;
    border-radius: 40px;
  }

  .educationbox img {
    width: 100%;
  }

  .projectsbox {
    padding: 40px 20px;
    width: 90%;
    border-radius: 40px;
  }

  .projectsbox .flex-row {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .projectsbox .flex-row > div {
    flex: 0 0 calc(50% - 7.5px);
  }

  .projectsbox img {
    width: 100%;
  }

  footer {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }

  footer div {
    width: 80%;
    height: auto;
    padding: 20px 5%;
  }

  footer div h1 {
    font-size: 24px;
  }

  footer div p {
    font-size: 16px;
  }

  .button {
    margin-top: 20px;
  }

  .contactform {
    width: 90%;
    margin-top: 120px;
    padding: 30px 15px;
    border-radius: 30px;
  }

  .contactform h1 {
    font-size: 50px;
  }

  .contactform p {
    font-size: 20px;
  }

  .contactform form {
    gap: 30px;
  }

  .contactform input,
  .contactform textarea,
  .contactform button {
    width: 95%;
    max-width: none;
  }
}

/* Extra small mobile devices */
@media screen and (max-width: 480px) {
  header {
    height: auto;
    padding: 10px 3%;
  }

  header h1 {
    font-size: 28px;
  }

  nav ul li a {
    font-size: 14px;
    margin: 0 5px;
  }

  .mainbox h1 {
    font-size: 32px;
  }

  .mainbox h2 {
    font-size: 20px;
  }

  .about-text {
    font-size: 20px;
  }

  .projectsbox .flex-row > div {
    flex: 0 0 100%;
  }

  .contactform h1 {
    font-size: 40px;
  }
}
