header {
  width: 90%;
  padding: 0 5%;
  height: 100px;
  background-color: rgba(217, 217, 217, 0.25);
  outline: solid #062d6162;
  color: white;
  position: fixed;
  z-index: 1000;
}

header h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 10vw;
  color: white;
  text-transform: uppercase;
}

header h1 a {
  text-decoration: none;
  color: white;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 1vw;
  font-size: 3vw;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  transition-duration: 0.1s;
}

nav ul li a:hover {
  color: rgb(160, 160, 160);
}

nav ul li a:active {
  color: grey;
}

* {
  margin: 0;
  font-family: "Jersey10-Regular";
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  min-height: 1000px;
  background-image: radial-gradient(circle, #1f0936 0%, #000000 100%);
}

/* Layout utilities */
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

@font-face {
  font-family: "Jersey10-Regular";
  src: url("fonts/Jersey10-Regular.ttf");
}

footer {
  font-size: 1.3vw;
  width: 100%;
  height: 1vh;
}

footer div {
  background-color: #cccccc;
  outline: 2px solid #000000;
  width: 30%;
  height: 160px;
  padding: 15px 5% 15px 5%;
}

.infopurple {
  color: #3f3477;
}

footer div h1 {
  color: #d7ebe7;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

main {
  gap: 500px;
}

.button {
  margin-top: 40px;
  width: 15vw;
  height: 25px;
  border-radius: 6px;
  outline: solid #999999;
  background-color: #d9d9d9;
  color: #000000;
  -webkit-text-stroke: 1px #3f3477;
  font-size: larger;
  text-decoration: none;
}

.button:hover {
  background-color: #bfbfbf;
  cursor: pointer;
  transform: scale(1.02);
}

.button:active {
  background-color: #a6a6a6;
  transform: scale(0.98);
}

.mainbox {
  margin-top: 200px;
  padding: 100px 0px;
  height: 60vw;
  width: 100%;
  background-color: #d9d9d9;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
}

.mainbox h1 {
  font-size: 5vw;
  border: 3px solid rgba(255, 255, 255, 0.08);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000000;
  font-weight: 400;
  text-transform: capitalize;
}

.backgroundimage {
  position: absolute;
  opacity: 0.2;
  width: 100%;
  height: 50vw;
  border-radius: 70px;
  outline: solid #151515 20px;
}

.about-text {
  font-size: 4vw;
  align-self: flex-start;
}

.aboutbackgroundbox {
  padding: 100px 0px;
  height: 1400px;
  width: 100%;
  background-color: #d9d9d946;
  border-radius: 70px;
  outline: solid #99999945;
  gap: 20px;
  align-self: center;
  color: white;
  -webkit-text-stroke: 2px #000000;
  font-size: xx-large;
}

.aboutbox {
  padding: 15px;
  height: 700px;
  width: 100% - 15px;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
  align-self: center;
  background-color: white;
  color: black;
  -webkit-text-stroke: 0px;
  font-size: 1vw;
}

.aboutbackgroundbox img {
  outline: black solid 2px;
  border-radius: 70px;
  transition-duration: 0.1s;
}

.aboutbackgroundbox img:hover {
  transform: scale(1.1);
}

.about-certificates {
  outline: solid #999999;
  background-color: white;
  width: 100%;
  height: 300px;
}

.about-certificates div {
  width: 100%;
  height: 100%;
}

.educationbackgroundbox {
  padding: 100px 0;
  height: 550px;
  width: 100%;
  background-color: #d9d9d946;
  border-radius: 70px;
  outline: solid #99999945;
  gap: 20px;
  align-self: center;
  color: white;
  -webkit-text-stroke: 2px #000000;
  font-size: xx-large;
}

.workbackgroundbox {
  padding: 100px 0px;
  height: 550px;
  width: 100%;
  background-color: #d9d9d946;
  border-radius: 70px;
  outline: solid #99999945;
  gap: 20px;
  align-self: center;
  color: white;
  -webkit-text-stroke: 2px #000000;
  font-size: xx-large;
}

.workbox {
  padding: 100px 0;
  height: fit-content;
  width: fit-content;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
  align-self: center;
  background-color: white;
  color: black;
  -webkit-text-stroke: 0px;
}

.workbox img {
  width: 90%;
}

.educationbox {
  padding: 100px 0;
  height: fit-content;
  width: fit-content;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
  align-self: center;
  background-color: white;
  color: black;
  -webkit-text-stroke: 0px;
}

.educationbox img {
  width: 90%;
}

.projectsbackgroundbox {
  padding: 100px 0;
  height: fit-content + 200;
  width: 100%;
  background-color: #d9d9d946;
  border-radius: 70px;
  outline: solid #99999945;
  gap: 20px;
  align-self: center;
  color: white;
  -webkit-text-stroke: 2px #000000;
  font-size: xx-large;
  margin-bottom: 100px;
}

.projectsbox {
  padding: 100px 0;
  height: fit-content;
  width: fit-content;
  border-radius: 70px;
  outline: solid #999999;
  gap: 20px;
  align-self: center;
  background-color: white;
  color: black;
  -webkit-text-stroke: 0px;
}

.projectsbox img {
  width: 20vw;
}

.projectsbox h3 {
  font-size: 3vw;
}

.projectsbox div div {
  transition-duration: 0.1s;
}

.projectsbox div div:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}

.contactform {
  margin: 0px auto 200px auto;
  width: 70%;
  border-radius: 45px;
  height: fit-content;
  padding-bottom: 10vh;
  background-color: #d9d9d9;
  gap: 40px;
}

.contactform form {
  gap: 60px;
}

.contactform form * {
  scale: 1.1;
}

.contactform h1 {
  font-size: 10vw;
}

.contactform p {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.contactform input,
.contactform textarea,
.contactform button {
  outline: solid #000000 0.5px;
  width: 25vw;
  border-radius: 20px;
  border: none;
  padding: 10px;
  transition-duration: 0.1s;
}

.contactform button:hover {
  transform: scale(1.1);
}

.contactform button:active {
  transform: scale(1);
}

.contactform textarea {
  max-width: 25vw;
  min-width: 25vw;
  max-height: 22vw;
  min-height: 20vw;
}

.pointer {
  cursor: pointer;
}

.projectsinfo {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  max-width: 80vw;
  height: fit-content + 300px;
  border-radius: 45px;
  outline: solid #999999;
  padding: 100px 0;
  text-align: center;
}

#projectsinfotitle{
  font-size: 10vw;
}
#projectsinfo{
  font-size: 3vw;
  -webkit-text-stroke: 0;
  color: black;
}

#projectlink{
  font-size: 7vw;
}


.reverse {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.contactbox {
  margin: 10px auto -200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(135, 135, 135);
  padding: 10px;
  border-radius: 45px;
  outline: solid black;
}

.contactbox img {
  scale: 0.5;
  transition-duration: 0.1s;
}

.contactbox:hover {
  scale: 1.01;
}

.contactbox:active {
  scale: 0.98;
}

.contactbox form {
  font-size: 100px;
}

.gap {
  gap: 50px;
}

#projectlink {
  color: white;
}

.aboutbackgroundbox img {
  width: 350px;
}
